{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Felipe Batista Giovanini</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous">
  <style media="screen">
    .bg-cinza-claro{
      background-color: #CCCCCC;
    }
    .text-cinza-claro{
      color: #CCCCCC;
    }
    .bg-roxo{
      background-color: #77418C;
    }
    .txt-roxo{
      color: #77418C;
    }
    .icone-t{
      width: 40px;
      height: 40px;
      text-align: center;
    }
  </style>
</head>
<body>

  <!-- define o formato do site: toda a tela ou centralizado -->
  <div class="container">
    <div class="row p-5 bg-light">
      <div class="col-md p-5">
        <h1>Felipe</h1>
        <h1>Batista Giovanini</h1>
      </div>
      <div class="col-md text-right p-5">
        Endereço <i class="fas fa-home txt-roxo"></i></i><br/>
        99846-6642 <i class="fa fa-phone txt-roxo" aria-hidden="true"></i><br/>
        felipebatistagiovanini@gmail.com <i class="fas fa-envelope txt-roxo"></i><br/>
        <i class="fas fa-linkedin-square txt-roxo" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-1">
        <div class="bg-roxo rounded-circle icone-t" style="color:white;"><i class="fa fa-bars align-middle" aria-hidden="true"></i></div>
      </div>
      <div class="col-lg">
        <h5 class="font-weigth-bold">OBJETIVO</h5>
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
    <div class="row p-3">
      <div class="col-1">
        <div class="bg-roxo rounded-circle txt-roxo icone-t" style="-webkit-text-stroke: 1px white;"> <i class="fa fa-graduation-cap py-3"></i></div>
      </div>
      <div class="col-lg">
        <h5 class="font-weigth-bold">EDUCAÇÂO</h5>
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
    <div class="row p-3">
      <div class="col-1">
        <div class="bg-roxo rounded-circle icone-t" style="color:white;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
      </div>
      <div class="col-lg">
        <h5 class="font-weigth-bold">EXPERIÊNCIA</h5>
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
    <div class="row p-3">
      <div class="col-1">
        <div class="bg-roxo rounded-circle icone-t" style="color:white;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
      </div>
      <div class="col-lg">
        <h5 class="font-weigth-bold">HABILIDADES</h5>
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
    <div class="row p-3">
      <div class="col-1">
        <div class="bg-roxo rounded-circle icone-t" style="color:white;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></div>
      </div>
      <div class="col-lg">
        <h5 class="font-weigth-bold">ATIVIDADE</h5>
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
  </div>
  </div>


</body>
</html>
