{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Felipe Batista Giovanini</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css'%}">
  <style media="screen">
    .bg-cinza-claro{
      background-color: #CCCCCC;
    }
    .text-cinza-claro{
      color: #CCCCCC;
    }
  </style>
</head>
<body>
  <!-- define o formato do site: toda a tela ou centralizado -->
  <div class="container">
    <div class="row p-5">
      <div class="col-lg-8 p-5">
        <h1>Felipe</h1>
        <h1>Batista Giovanini</h1>
      </div>
      <div class="col-lg text-right p-5">
        Endereço <i class="fas fa-home"></i></i><br/>
        99846-6642 <i class="fas fa-phone"></i><br/>
        felipebatistagiovanini@gmail.com <i class="fas fa-envelope"></i><br/>

      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <i class="fal fa-graduation-cap bg-cinza-claro" ></i> <h5 class="font-weigth-bold">OBJETIVO</h5> 
        <p>
          What Lorraine, what? Take care. It works, ha ha ha ha, it works. I finally invent something that works. Look, I'm just not ready to ask Lorraine out to the dance, and not you, nor anybody else on this planet is gonna make me change my mind. It's cold, damn cold. Ha, ha, ha, Einstein, you little devil. Einstein's clock is exactly one minute behind mine, it's still ticking.
        </p>
        <p>
          He's a peeping tom. Dad. This is for all you lovers out there. Uh, stories, science fiction stories, about visitors coming down to Earth from another planet. Thanks a lot, kid. Back to the future.
        </p>
        <p>
          Yeah, but I never picked a fight in my entire life. Doc, you gotta help- Look me up when you get there, guess I'll be about 47. No no no this sucker's electrical, but I need a nuclear reaction to generate the one point twenty-one gigawatts of electricity that I need. Well uh, good, fine.

        </p>

      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</body>
</html>
